.App {
  font-family: sans-serif;
  text-align: center;
}

.node {
  background: rgb(143, 143, 143);
}


.node.Task {
  background: rgb(33,160,124);
}

.node.Choice {
  background: rgb(255,125,99);
}

.node.TransitionEvent {
  background: rgb(134,220,208);
}

.node.CatchEvent {
  background: rgb(194,139,240);
}

.node.ChoiceEvent {
  background: rgb(242,234,26);
}

.node.selected {
  background: #CCC;
}

g .label{
  font-size: 0.875rem;
  font-weight: normal;
  pointer-events: none;
}

.node rect {
	stroke: #333;
  fill: #fff;
  cursor: pointer;
}

.selected rect{
	fill: #89B8D4;
}

.node rect:hover{
  fill: #89B8D4;
}

.edgePath path {
	stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

html{
  font-size: 0.875rem;
}
